* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(239, 239, 239);
}

hr {
  margin: 15px 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  align-items: center;
  height: 95px;
}

.trybewarts-header-logo {
  height: 80px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input, button {
  width: 166px;
  padding: 10px;
  border-style: none;
  border-radius: 12px;
  margin-right: 10px;
  font-family: cursive;
  font-size: unset;
}

#trybewarts-header-title {
  color: white;
  font-size: xxx-large;
}

main {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: center;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#textarea {
  resize: none;
  border: 1px solid rgb(78, 44, 131);
  margin: 15px 0;
}

.rodape {
  text-align: center;
  padding: 20px 0;
  margin-top: 10px;
  background-color: rgb(60, 64, 75);
  color: rgb(244, 244, 244);
  position: relative;
  bottom: 0;
  height: 23px;
}

#entrar {
  background-color: purple;
  color: white;
}

form div input, select {
  width: 310px;
  margin-bottom: 15px;
  padding: 12px;
  border-style: none;
  border-radius: 10px;
  margin-right: 1px;
  font-family: cursive;
  font-size: unset;
}

#submit-btn {
  background-color: rgb(78, 44, 131);
  color: white;
  width: 100%;
  margin-top: 15px;
}

#label-rate {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
}

.container-principal {
  display: flex;
  flex-direction: row;
  height: 155px;
  line-height: 30px;
  justify-content: center;
}

.container-filho {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
}

.filho2 {
  display: flex;
  height: 108px;
  width: 245px;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-around;
}

h2 {
  text-align: center;
  margin: 15px 0;
}
